{% extends 'base.html.twig' %}

{% block title %}Chill Room-Home{% endblock %}

{% block body %}
    <section>
        <div class='banner'>
            {% if is_granted('ROLE_USER')%}
            <img src="{{ asset('images/images/' ~ user.imgProfil) }}" alt="Image du post">
            {% endif %}
            <h1>Accueil !</h1>
        </div>
    </section>
    <section class="posts">
        <div class="container">
            <div class="boucle">
                {% for post in posts %}
                <div class="card">
                    <div>
                        <div> 
                            <a href="{{ path('app_profil', {'id': post.user.id}) }}" >
                                <div class='post-user'>
                                    <img src="{{ asset('images/images/' ~ post.user.imgProfil) }}" alt="photo de profil dans le post" class='img-user-post'>
                                    <p>{{post.user.username}}</p>
                                </div>
                            </a>
                        </div>
                        <h2>{{ post.title }}</h2>
                        <img src="{{ asset('images/images/' ~ post.imageName) }}" alt="Image du post">
                        <a href="{{ path('app_profil', {'id': post.user.id}) }}" class='user-body' > 
                            <p><span class="user-body">{{ post.user.username }} 
                        </a>
                        :</span> {{ post.body }}</p>
                        {% if is_granted('ROLE_USER')%}
                            {% if app.user.id == post.user.id %}
                            <div class='body_post'>
                                <div class='btns_post'>
                                    <a class'btn_modifier' href="{{ path('update_article', {'id': post.id}) }}">Modifier</a>
                                    <form method="POST" onsubmit="return confirm('Confirmer la suppression?')"
                                        action="{{ path('delete_article', {'id': post.id}) }}">
                                        <input type="hidden" name="_method" value="DELETE" >
                                        <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ post.id) }}">
                                        <input id="delete" type="submit" value="Supprimer" class='btn_supp'>
                                    </form>
                                </div>
                                <div class='footer_post'>
                                    <a href="{{ path('app_voirplus', {'id': post.id}) }}">Voir les commentaires...</a>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div> 
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}