{% extends 'base.html.twig' %}

{% block title %}Chill Room-Recherche Utilisateur{% endblock %}

{% block body %}
<section>
    <div class='banner'>
        {% if is_granted('ROLE_USER')%}
            <img src="{{ asset('images/images/' ~ user.imgProfil) }}" alt="Image du post">
        {% endif %}            
            <h1>Trouver un utilisateur</h1>
        </div>
    <div class='search' >
        <form  method="GET" action="{{ path('app_search') }}">
            <div>
                <div class='form-group-search'>
                    <div class='form-group'>
                        <input
                            class='form-input'
                            type="search"
                            name="q"
                            value="{{ query }}"
                            placeholder="Entrez un pseudonyme."
                            autofocus
                        >
                    </div>
                </div>
                <button class='btn-search' type="submit">Rechercher</button>
            </div>
        </form>

        {% if query %}
            <p>
                {% if results|length > 0 %}
                    {{ results|length }} résultat{{ results|length > 1 ? 's' : '' }} pour
                    <strong>« {{ query }} »</strong>
                {% else %}
                    Aucun résultat pour <strong>« {{ query }} »</strong>
                {% endif %}
            </p>
        {% endif %}

        <div>
            {% for user in results %}
            <a href="{{ path('app_profil', {'id': user.id}) }}" >
                <div>
                    <span>{{ user.username }}</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}