{% extends 'base.html.twig' %}

{% block title %}Chill Room-Recherche Utilisateur{% endblock %}

{% block body %}
    <div class='banner'>
        {% if is_granted('ROLE_USER')%}
            <a href="{{ path('app_profil', {'id': app.user.id}) }}" >
                <img src="{{ asset('images/images/' ~ app.user.imgProfil) }}" alt="Image de la bannière">
            </a>        
            {% endif %}
        <h1>Recherche utilisateur</h1>
    </div>
<section>
    <div class='search' >
        <form  method="GET" action="{{ path('app_search') }}" class=''>
            <div class='form-search'>
                <div class='form-group-search'>
                    <div class='form-group'>
                        <input
                            class='form-input'
                            type="search"
                            name="q"
                            value="{{ query }}"
                            placeholder="Entrez un pseudonyme."
                            autofocus
                        >
                    </div>
                </div>
                <button class='btn-search' type="submit">Rechercher</button>
            </div>
        </form>
        {% if query %}
            <p>
                {% if results|length > 0 %}
                    {{ results|length }} résultat{{ results|length > 1 ? 's' : '' }} pour
                    <strong>« {{ query }} »</strong>
                {% else %}
                    Aucun résultat pour <strong>« {{ query }} »</strong>
                {% endif %}
            </p>
        {% endif %}
        <div>
            {% for user in results %}
            <a href="{{ path('app_profil', {'id': user.id}) }}" >
                <div>
                    <span class='classresult'>{{ user.username }}</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}